@page
@model PrivacyModel
@{
    ViewData["Title"] = "About This Site";
}
<h1>@ViewData["Title"]</h1>

<p>This site is written in ASP.NET Core built in a docker container and hosted in Azure as an App Service</p>
